body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.List{
  height: 90vh;
  overflow-y: auto;
  border: 2px solid #ccc;
}
.container{
  height: 100vh;
  display: flex;
  justify-content: space-between;
  margin:10px 40px;
  
}

.image{
  width: 300px;
  height: 300px;
  border: 1px solid #ccc;
}
.preview-image{
  width: 500px;
  height: 500px;
}

.image-container{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  cursor: pointer;
  margin: 21px 10px;
}

.preview-container{
  position: relative;
}
.btn{
  background: #7171e6;
  color: #fff;
  padding: 5px 20px;
  font-size: large;
  cursor: pointer;
}
.ld{
  display: flex;
  justify-content: space-between;
  font-size: medium;
}
.no-preview{
  width: 500px;
  height: 500px;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.like-icon{
  width: 40px;
  height: 40px;
  margin: 2px 3px;
}

.time-para, .likes-para{
  display: flex;
  justify-content: baseline;
  align-items: center;
  padding: 1px 1px;
}
.value-likes{
  display: inline-block;
}
.sort-btn{
  padding: 5px 10px;
  background: #7171e6;
  color: #fff;
  outline: none;
  font-size: 24px;
  margin: 5px auto;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

